
<!-- templates/login.html -->
{% extends "base.html" %}

{% block content %}
<form method="POST"> 

    <h4 class="text-warning text-center pt-5">Log in</h4>          


              <label>     
              <input 
                     type="text" 
                     class="input" 
                     name="email" 
                     placeholder="Email"/>        
              <div class="line-box">          
                <div class="line"></div>        
              </div>    
            </label>   

            

            <label>     
              <input 
                     type="password" 
                     class="input" 
                     name="password" 
                     placeholder="Password"/>        
              <div class="line-box">          
                <div class="line"></div>        
              </div>    

            </label> 
           
            </div>
      

            

            <button type="submit">submit</button> 

             <p>Don't have an account?<a class="bottom" href="{{url_for('signup')}}">Sign Up here</a></p> 

          </form> 
      </div> 
   </body> 
</html>
{% endblock %}