{% extends "base.html" %}

{% block content %}

<body>
	<div class = 'profilecontent'> 
	{% for item in data %}
	<h1 class = "profileheading">Welcome, {{ item[0] }}!</h1>
	{% endfor %}
</div>

<h2 class = "profileheading2"> Your Profile Details:</h2>

<form class = "profileform">
<div class="card">
	{% for item in data %}
	{% if item[4] == None or item[4] == "" %}
			Photo: No photo available
		{% else %}
			<p class = "info">Photo:</p> <img src="{{ url_for('static', filename=item[4]) }}" alt = "pic" style="width:20%">		
			{% endif %}
			{% endfor %}
	{% for item in data %}
	<p class ="info">Name: {{ item[0] }} {{ item[1] }}</p>
		<br>
	 <p class ="info">Email: {{ item[2] }} </p>
	<br>
	<p class ="info">Password: {{ item[3] }}</p>
		
	{% endfor %}
</div>
</form>


</body>
{% endblock %}
</html>



