img {
  border-radius: 50%;
}

body {
  background-color: #00d1b2;;
  padding: 20px;
}

.main {
  max-width: 500px;
  font-family: monospace;
  color: #000;
  padding-top: 50px
  padding-right: 10px;
  padding-bottom: 50px;
  padding-left: 10px;
  
}

/* Style the header */
.header {
  padding: 10px 10px;
  background: #000000;
  color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%
}



h1 {
  font-size: 40px;
  word-break: break-all;
  color: #fff;
}

h2 { 
color: #ffff99; 
}

.myh2 {
  color: #C8A2C8; 
}

h3 {
  color: #212121;
  text-align: center; 
}

p {
  color: #000000;
  font-family: monospace;
}

.myheader { 
color: #212121; 
}



.signup {
  color: #fff;
}

.clicklink {
  color: #000000;
}


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  align-items: center;
}

.row {
  margin: 8px -16px;
}

.row,
.row > .column {
  padding: 6px;
}

.column {
  width: 33%;
  column-count: 5;
  width: 200%;

}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.content {
  background-color: #fff;
  padding: 10px;
}


li {
  list-style-type: none;
  margin: 2vw 0;
  
  font-size: 3vh;
}

a {
  text-decoration: none;
  color: #fff;
  font-family: monospace;

  padding: 2vw;
}

nav {
  width: 100vw;
  background-color: #f7f566;
}

ul{
  display: block;
  margin: 0;
  padding: 0;
  
  display: flex;  
}

body{
  margin: 0;
}

button{
  display: none;
}

a:hover {
  background-color: #C6E9FF;
}

@media only screen and (max-width: 500px) {
  ul{
    flex-direction: column;
  }
  
  a{
    display: block;
  }
  
  li{
    margin: 0;
  }
  
  button {
    display: block;
    
    padding: 2vw;
    font-size: 3vh;
    background-color: #AFE0FF;
    border: none;
    outline: none;
    cursor: pointer;
    
    align-self: flex-start;
  }
}


body {
  background: #212121; 
}
 form {  
   width: 30%;  
   margin: 60px auto;  
   background: #efefef;  
   padding: 60px 120px 80px 120px;   
   -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
   box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
}

.myform {
  width: 80%;  
   margin: 60px auto;  
   background: #fff;  
   padding: 20px 10px 40px 40px;   
   -webkit-box-shadow: 2px 2px 3px rgba(0,0,0,0.1); 
   box-shadow: 2px 2px 3px rgba(0,0,0,0.1);

}



label {  

  display: block;  

  position: relative;  

  margin: 40px 0px; 

}

 .label-txt {  

   position: absolute;  

   top: -1.6em;  

   padding: 10px;  

   font-family: monospace;

   font-size: .8em;  

   letter-spacing: 1px;  

   color: rgb(120,120,120);  

   transition: ease .3s; 

}


 .input {  
   width: 100%;  

   padding: 10px;  

   background: transparent;  

   border: none;  

   outline: none; 

}

.line-box {  

  position: relative;  

  width: 100%;  

  height: 2px;  

  background: #BCBCBC; 

}

h4 {
  font-family: monospace;
  font-size: 25px;
}


 .line {  

  position: absolute;  

   width: 0%;  

   height: 2px;  
   top: 0px;  

   left: 50%;  

   transform: translateX(-50%);  

   background: #A26BA2;

   transition: ease .6s; 

}  


 .input:focus + .line-box .line {  

   width: 100%; 

}


 .label-active {  

   top: -3em; 

}


 button {  

   display: inline-block; 

   padding: 12px 24px;  

   background: #edeb54;  

   font-weight: bold;  

   color: #ffffff;  

   border: none;  outline: none;  

   border-radius: 3px;  

   cursor: pointer;  

   transition: ease .3s; 
   
}  


 button:hover {  

   background: #d177d1;  

   color: #ffffff; 

}






label {  

  display: block;  

  position: relative;  

  margin: 40px 0px; 

}

 .label-txt {  

   position: absolute;  

   top: -1.6em;  

   padding: 10px;  

   font-family: monospace;

   font-size: .8em;  

   letter-spacing: 1px;  

   color: rgb(120,120,120);  

   transition: ease .3s; 

}


 .input {  
   width: 100%;  

   padding: 10px;  

   background: transparent;  

   border: none;  

   outline: none; 

}

.line-box {  

  position: relative;  

  width: 100%;  

  height: 2px;  

  background: #BCBCBC; 

}

h4 {
  font-family: monospace;
  font-size: 25px;
}


 .line {  

  position: absolute;  

   width: 0%;  

   height: 2px;  
   top: 0px;  

   left: 50%;  

   transform: translateX(-50%);  

   background: #00d1b2;  

   transition: ease .6s; 

}  


 .input:focus + .line-box .line {  

   width: 100%; 

}


 .label-active {  

   top: -3em; 

}



.bottom {
  color: #236B8E;
  text-decoration: underline;
  font-size: 15px;
}

.profileform {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: left;
}

.info {
  font-family: monospace;
  font-size: 20px;
}
.profileheading {
  font-family: monospace;
}

.profileheading2 {
  font-family: monospace;
}